@import url('https://fonts.googleapis.com/css?family=Caveat');

*, html, body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}
  
.bgImageHeading1 {
    color:#707070;
    font-family: 'Caveat';
    font-size: 55px;
    left: 0;
    line-height: 95px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.bgImageHeading2 {
    color:#707070;
    font-family: 'Caveat';
    font-size: 25px;
    left: 0;
    line-height: 250px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 47%;
    width: 100%;
}

.nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #373D3B;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
  }

body {
    font-family: Verdana, Geneva, sans-serif;
    background-image: url("./images/home_page.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.socialLinks {
    font-family: 'Caveat';
    font-size: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
}

.socialLinks li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.socialLinks li  {
    display: inline-block;
}

.socialLinks li a:hover {
    color: #111;
}

